<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Menu de hoy
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item-sliding *ngFor="let menu of menu">

        </ion-item-sliding>
        </ion-list>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="menu-for-today"></app-explore-container>
</ion-content>
